.git
.gitignore
.cursor
.env
*.exe
*.exe~
*.test
/library_back
go.work
go.work.sum

AGENTS.md
functionalities/
postman/
skills/
docker-compose.yml
Dockerfile
.dockerignore

.idea/
.vscode/
.DS_Store
*.swp
